extends layout

block content

  div.container
    div.jumbotron.jumbotron-fluid.bg-secondary.text-white-50
      h1= title
      p Welcome to #{title}, #{nickname}
      a(href="http://localhost:3000") Home